.myListWrap{
    position: absolute; 
    left: 40%;
    top: 20%;
    width: 141px;
    height: 140px;
    border: 1px solid rgb(213, 210, 210);
    border-radius: 20%;
}
.myList{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px; 
    color: rgba(0, 0, 0, 0.7);
    text-align: center; 
}
.myListCount{   
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
    color: #000000;
    text-align: center;   
}
.myListPlusBtn{
    position: absolute;
    width: 141px;
    height: 140px;
    left: 53%;
    top: 20%;
    border: 1px solid rgb(213, 210, 210);
    border-radius: 20%; 
    background-color: white;
}
.myListPlusBtn:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.myListPlusCount{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 0px;
    color: #000000;
    text-align: center; 
}
.myListShowWrap{
    position: absolute;
    width: 955px;
    height: 564px;
    left: 258px;
    top: 346px;
}
.myListShowBoxTable{
    background: rgba(238, 249, 250, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    width: 700px;
    height: 200px;
    margin: 0 auto; 
}
.myTrip{
    color: rgb(17, 60, 77);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    padding: 10px;
    padding-top: 10%;
}
table>tbody>tr>td{
    padding: 50px 50px;
}
.myListShowBoxTable>button{  
    width: 90px;
    height: 55px;

    margin: 0px 67px;
    position: relative;
    left: 2%;
    border: 1px solid rgb(213, 210, 210);
    border-radius: 10px; 
    background-color: skyblue;
    color: white;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.myListShowBoxTable>button:hover{
    cursor: pointer;
    background-color: rgb(17, 60, 77);
    font-weight: 600;
}