.ListShareWrap{
    position:absolute;

    width: 280px;
    height: 500px;
    right: 17%;
    top: 182px;
  
    transform: translate(-50%,0);
  
    background-color: white;
  
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
  }
  .ListShareName{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;   
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
  }
  .PlusButton{  
    background: skyblue;
    border-radius: 10px;    
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    margin: 20px;
    margin-left: 2px;
    margin-top: 9px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 15px; 
  }
  .SaveButton{
    background: skyblue;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px; 
    color: white;
  }

li{
    list-style-type: none;
  }
  .MinusButton{
    background: skyblue;
    border-radius: 5px;    
    width: 50px;
    height: 50px;
    color: white;
    border: 1px solid skyblue;
    margin: 20px;
    margin-top: 9px;

  }
  .ListShareLi{
    width: 200px;
    height: 61px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid white;
    margin: 20px;
    right: 23%;
    position: relative;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height */
    
    
    color: #000000;
  }
  .PlusName{
    width: 200px;
    height: 61px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid white;
  }
