.ListShare{
  position: absolute;
  left: 440px;
  top: 98px;
  
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;

  color: rgb(17, 60, 77);
  }
  .ListShareForm{
    position: absolute;
    left: 360px;
    top: 250px;
  }
  .PlusName{
    width: 240px;
    height: 50px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid white;
  }
  .PlusButton{  
    width: 120px;
    height: 40px;
    margin: 50px;
    margin-left: 20px;

    border: 1px solid rgb(213, 210, 210);
    border-radius: 10px;
    background-color: white;
  }
  .PlusButton:hover{
    background-color: whitesmoke;
    cursor: pointer;
  }
  .SaveButton{
    width: 120px;
    height: 40px;
    margin: 50px;
    margin-left: 170px;

    border: 1px solid rgb(213, 210, 210);
    border-radius: 10px;
    background-color: white;

    position: absolute;
    left: 440px;
    top: 1px;
  }
  .SaveButton:hover{
    background-color: whitesmoke;
    cursor: pointer;
  }
li{
    list-style-type: none;
  }
  .MinusButton{
    width: 120px;
    height: 40px;
    margin: 50px;
    margin-left: 20px;

    border: 1px solid rgb(213, 210, 210);
    border-radius: 10px;
    background-color: white;
    
  }
  .MinusButton:hover{
    background-color: whitesmoke;
    cursor: pointer;
  }
  .ListShareLi{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    padding: 0px 0px;
  }
 